@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: bolder;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0;
  }

  p {
    @apply text-[14px] sm:text-[16px];
  }

  small {
    @apply text-[12px] sm:text-[14px];
  }

  h1 {
    @apply text-[20px] sm:text-[24px];
  }
}